<html>
    <head>
    <meta name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>

     {% block my_page_title %}My page's title{% endblock %}

    </title>

    <link href="http://ajax.googleapis.com/ajax/libs/dojo/1.9.0/dojox/mobile/themes/iphone/iphone.css"
            rel="stylesheet"></link>

    <style type="text/css">
     {% block my_header_stylesheet %}

{#          <!-- stylesheet will go here -->#}

     {% endblock %}
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dojo/dojo.js"></script>

     {% block my_header_script %}

          <!-- dojo/javascript will go here -->

     {% endblock %}

    </head>
    <body>

    {% block my_body %}

          <!-- application will go here -->

     {% endblock %}

    </body>
</html>